body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: brown;
}

.calculator {
    display: grid;
    justify-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px;
    grid-template-areas:
        "display"
        "buttons";

}

.display {
    grid-area: display;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 400px;
    font-size: 3rem;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;

}

.buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 10px;
}

button {
    border-radius: 5%;
    background-color: bisque;
    width: 100px;
    height: 100px;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 241, 223);
}